* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    /* background-image: url('../assets/images/bg.jpg'); */
    overflow: hidden;
}


.button-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: change-z-index;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.button-container-inner {
    margin-top: 100px;
    animation-name: appear-from-desert;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.btn {
    height: 250px;
    width: 350px;
    margin-right: 60px;

}

.btn:hover {
    /* box-shadow: 0px 10px #aaaaaa; */
    transform: scale(1.1);
}

.bg1 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-bottom {
    z-index: 10;
}


@keyframes appear-from-desert {
    from {
        margin-top: 900px
    }

    to {
        margin-top: 100px;

    }
}

@keyframes change-z-index {
    from {
        z-index: 0
    }

    to {
        z-index: 11;
    }
}