* {
    padding: 0;
    margin: 0;
}

body {
    overflow: none;
    font-family: 'Roboto', sans-serif;
    min-height: 400px;
    /* min-width: 600px; */
    background-color: #D3D3D3;
    /* background-image: url('../assets/images/bg1.jpg'); */
}

html {
    scroll-behavior: smooth;
}



.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../assets/imges/frame1.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


.button-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.inner-button-container {
    margin-top: 240px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* animation-name: buttonappear;
    animation-duration: 2s; */

    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.2s;
    /* don't forget to set a duration! */

    overflow: hidden;
}

@keyframes buttonappear {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
}


a.button {
    display: flex;

    padding: 0.7em 1.7em;
    margin: 0 2em 0.3em 2em;
    margin: 0 2% 1% 2%;

    border-radius: 0em;
    border: 2px solid #2f0f15;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: #532029;
    box-shadow: 0 5px 15px rgba(232, 232, 232, .9);

    /* box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12); */

    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;

    height: 30%;
    min-height: 60px;
    width: 11%;
    max-width: 130px;

    /* animation-name: buttonhighlightback;
    animation-duration: 0.5s; */
}

a.button:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

a.button:hover {
    /* animation: bounce;
    animation-duration: 5s; */
    margin-bottom: 40px;
    animation-name: buttonhighlight;
    animation-duration: 0.5s;
}




@keyframes buttonhighlight {
    from {
        margin-bottom: 0;
    }

    to {
        margin-bottom: 40px;
    }
}


@keyframes buttonhighlightback {
    from {
        margin-bottom: 40px;
    }

    to {
        margin-bottom: 0px;
    }
}


@media all and (max-width:30em) {
    a.button {
        display: block;
        margin: 0.4em auto;
    }
}

.hidden {
    display: none !important;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;

}

#iframe-section {
    z-index: 9;
    animation-duration: 3s;
    display: block;
}

#main-section {
    z-index: 10;
    animation-duration: 4s;
    display: block;
}

.inline-block {
    display: inline-block;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #532029;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 999;
    text-align: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    /* display: block; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    display: inline-flex;
    vertical-align: middle;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.title-span {
    margin-right: 10px;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
}

.page-title {
    font-size: 2.0em;
    color: #ffffff;
    font-weight: 400;
}

i {
    padding-top: 2px;
}

@media screen and (max-width: 860px) {
    .inner-button-container {
        flex-direction: column;
        margin-top: 100px;
        overflow: auto;
        padding-bottom: 2.5rem;
    }

    a.button {
        max-width: 400px;
        max-height: 50px;
        width: 250px;
        height: 50px;
        margin-bottom: 10px;
    }

    a.button:hover {
        /* animation: bounce;
        animation-duration: 5s; */
        /* margin-bottom: 40px; */
        margin-bottom: 10px;
        animation-name: buttonhighlighthorizontal;
        animation-duration: 0.5s;
        transform: scale(1.1);
        /* 
        -webkit-transform: scale(110%);
        -moz-transform: scale(110%);
        -o-transform: scale(110%);
        -ms-transform: scale(110%);
        transform: scale(110%); */
        /* CSS3 */
    }



}

.video-container {
    margin-top: 50px;
}

/* @media screen and (max-width: 620px) {
    .video-container {
        margin-top: 100px;
    }
} */

@keyframes buttonhighlighthorizontal {
    from {
        transform: none;
    }

    to {
        transform: scale(1.1);
    }
}

/* video {
    width: 80% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
} */

.video-js {
    text-align: center;
    margin: auto;
    /* max-width: 600px !important; */
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
}

.video-js .vac-shape {
    position: absolute;
    z-index: 1;
    background-color: rgba(238, 152, 40, 0.3);
    border: 2px dotted #ee9828;
    display: none;
}

.vac-button {
    visibility: hidden;

}

.cite {
    margin-top: 3px;
    padding-top: 5px;
    text-align: left;
    font-size: small
}

.cite span {
    font-style: italic;
}

#ann-details {
    padding: 10px;
}

.video-container {
    /* height: 50% !important; */
    max-width: 1200px;
    /* width: 70%; */
    margin: auto;
    margin-top: 50px;
}

@media screen and (max-width: 525px) {
    .video-container {

        margin-top: 80px;
    }
}


.flink {
    color: white;
    text-decoration: none;
    z-index: 99;
}

.flink:active {
    color: white
}

.flink:visited {
    color: white;
}


.dialog-content{
    text-align: center;
    font-size: small;
}